bin/Debug/net6.0/TaskAfter3Month.dll
bin/Debug/net6.0/TaskAfter3Month.exe
bin/Debug/net6.0/TaskAfter3Month.pdb
bin/Debug/net6.0/TaskAfter3Month.runtimeconfig.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/TaskAfter3Month.AssemblyInfo.cs
obj/Debug/net6.0/TaskAfter3Month.AssemblyInfoInputs.cache
obj/Debug/net6.0/TaskAfter3Month.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/TaskAfter3Month.GlobalUsings.g.cs
obj/Debug/net6.0/TaskAfter3Month.assets.cache
obj/Debug/net6.0/TaskAfter3Month.csproj.AssemblyReference.cache
obj/Debug/net6.0/TaskAfter3Month.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TaskAfter3Month.csproj.FileListAbsolute.txt
obj/Debug/net6.0/TaskAfter3Month.dll
obj/Debug/net6.0/TaskAfter3Month.genruntimeconfig.cache
obj/Debug/net6.0/TaskAfter3Month.pdb
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ref/TaskAfter3Month.dll
obj/Debug/net6.0/refint/TaskAfter3Month.dll
obj/TaskAfter3Month.csproj.nuget.dgspec.json
obj/TaskAfter3Month.csproj.nuget.g.props
obj/TaskAfter3Month.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
